*,*:before,*:after{
  box-sizing: border-box;
}

body{
  margin:0;
  background: linear-gradient(to right, #E75637,  #151313);
}

.grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.grid>button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background: rgba(255, 255, 255, 0.75);
}

.grid>button:hover, 
.grid>button:focus{
  background: rgba(255, 255, 255, 0.9);
}

.span-two{
  grid-column: span 2;
}